@{
    ViewData["Title"] = "Despre noi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despre Noi</title>
    <link rel="stylesheet" href="/css/site.css">
    <style>
        h1 {
            align-items: center;
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 10px;
            padding-top: 100px;
        }
        p {
            align-items:  center;
            font-size: 1.2rem;
            max-width: 600px;
            padding-top: 20px;
        }
        .motto {
            font-size: 1.6rem;
            font-style: italic;
            font-weight: bold;
            color: #333;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container-inline">
        <div>
            <h1>Despre Noi</h1>
            <p  style="font-size: 22px;">Suntem o firmă în domeniul pazei și protecției pe piață de 17 ani. Putem spune că ne recomandă cu încredere toți clienții din această perioadă, precum și:</p>
            <ul>
                <li style="font-size: 19px;">Timpul prompt de răspuns la solicitări</li>
                <li style="font-size: 19px;">Competența și abilitățile personalului</li>
                <li style="font-size: 19px;">Reputația și relațiile bune cu clienții</li>
                <li style="font-size: 19px;">Varietatea de servicii personalizate</li>
            </ul>
            <p  style="font-size: 22px;">„Cu noi ești mereu în siguranță”</p>
        </div>
        <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <img src="/images/pozaPAZA.png" alt="Image"/>
                    </div>
                    <div class="back">
                        <p>Prin calitatea serviciilor și acoperirea optimă, <strong style="color: red;">SECURITY MANAGEMENT</strong> și-a câștigat prestigiul, încrederea și aprecierea clienților. S-a impus pe piață prin activitatea desfășurată în obiective complexe și diverse, precum bănci, instituții publice, zone comerciale, unități de producție și locații cu risc ridicat.</p>
                    </div>
                </div>
        </div>
    </div>

</body>
</html>