@{
    ViewData["Title"] = "Despre noi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despre Noi</title>
    <link rel="stylesheet" href="/css/site.css">
    <style>
        h1 {
            align-items: center;
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 10px;
            padding-top: 100px;
        }
        p {
            align-items:  center;
            font-size: 1.2rem;
            max-width: 600px;
            padding-top: 20px;
        }
        .motto {
            font-size: 1.6rem;
            font-style: italic;
            font-weight: bold;
            color: #333;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Despre Noi</h1>
    <p>Suntem o firmă în domeniul pazei și protecției pe piață de 17 ani. Putem spune că ne recomandă cu încredere toți clienții din această perioadă, precum și:</p>
    <ul>
        <li>Timpul prompt de răspuns la solicitări</li>
        <li>Competența și abilitățile personalului</li>
        <li>Reputația și relațiile bune cu clienții</li>
        <li>Varietatea de servicii personalizate</li>
    </ul>
    <p >„Cu noi ești mereu în siguranță”</p>

</body>
</html>