@{
    ViewData["Title"] = "Security Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pază și Protecție</title>
    <link rel="stylesheet" href="/css/site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        h1 {
            align-items: center;
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 10px;
            padding-top: 100px;
        }
        p {
            align-items:  center;
            font-size: 1.2rem;
            max-width: 600px;
            padding-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container-inline">
        <div>
            <h1>Pază și Protecție</h1>
            <p>Oferim servicii de pază și protecție pentru evenimente civile și obiective industriale, precum și securizarea transportului de valori, paza locațiilor și soluții de monitorizare video.</p>
        </div>
        
        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <img src="images/cercintreg.png" alt="Image"/>
                </div>
                <div class="back">
                    <p>TEXT INFO s</p>
                </div>
            </div>
        </div>
    </div>

</body>


</html>
