@{
    ViewData["Title"] = "Servicii";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicii</title>
    <link rel="stylesheet" href="/css/site.css">
    <style>
        h1 {
            align-items: center;
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 10px;
            padding-top: 100px;
        }
        p {
            align-items:  center;
            font-size: 1.2rem;
            max-width: 600px;
            padding-top: 20px;
        }
        .motto {
            font-size: 1.6rem;
            font-style: italic;
            font-weight: bold;
            color: #333;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h1>Servicii</h1>
    <p style="font-size: 22px;">În cadrul firmei noastre, avem disponibilitatea de a oferi următoarele servicii:</p>
    <ul>
        <li style="font-size: 19px;">Instalarea sistemelor de alarmă pentru diverse locații</li>
        <li style="font-size: 19px;">Instalarea sistemelor de tip CCTV</li>
        <li style="font-size: 19px;">Control acces în locație</li>
        <li style="font-size: 19px;">Sisteme tehnice de securitate</li>
        <li style="font-size: 19px;">Automatizări căi de acces, precum porți și bariere</li>
        <li style="font-size: 19px;">Execuție tehnică</li>
        <li style="font-size: 19px;">Mentenață și întreținere tehnologie de tip SmartHome</li>
    </ul>

    <p>„Garanție și servicii de încredere”</p>

</body>


</html>
