html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url('/images/back2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
  margin: 0;
  padding: 0;
}


p, h1{
  color: white;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Stil pentru textul principal */
.main-text {
  text-align: left; /* Poziționează textul în centru */
  margin-top: 220px; /* Adaugă spațiu de sus */
}

.info-text {
  text-align: left;
  margin-top: 20px;
}

.footer-margin{
  background-color: gray;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.custom-gray {
  background-color: #e0e0e0 !important;
  border: 1px solid #b0b0b0;
  color: black;
}

.email-box {
  width: 80%; /* 80% din container */
  height: 40px;
}

.flip-container{
  justify-content: space-between;
  perspective: 1000px;
  width: 450px;
  height: 450px;
}

.flipper{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
}

.front img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 50%;
}

.flip-container:hover .flipper{
  transform: rotateY(180deg);
}

.container-inline{
  display: flex;
  align-items: center; 
  gap: 220px;
  padding-top: 40px;
}

.container-inline-oferta{
  display: flex;
  align-items: center; 
  gap: 50px;
  padding-top: 10px;
}

.button-oferta {
  margin-left: 190px; 
  margin-top: 20px;  
}

.info-oferta{
  margin-top: 1px;
}